{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div id="accordion">

  <div class="card">
    <div class="card-header" id="heading-basic">
        <button class="btn btn-link navbar-light" data-toggle="collapse" data-target="#basic-attacks" aria-expanded="false"
            aria-controls="basic-attacks">
            Basic Attacks
        </button>
    </div>

    <table class="table table-striped table-hover table-sm collapse" id="basic-attacks" data-parent="#accordian"
        aria-labelledby="heading-basic">
        <tr class="text-center">
            <th class="font-weight-bold">Move</th>
            <th class="font-weight-bold">Input</th>
            <th class="font-weight-bold">Type</th>
            <th class="t-font-colour-red">damage</th>
            <th class="t-font-colour-red">block dmg</th>
            <th class="t-font-colour-red">flawless block dmg</th>
            <th class="t-font-colour-green">Startup</th>
            <th class="t-font-colour-green">Active</th>
            <th class="t-font-colour-green">Recovery</th>
            <th class="t-font-colour-blue">cancel adv</th>
            <th class="t-font-colour-blue">hit adv</th>
            <th class="t-font-colour-blue">block adv</th>
            <th class="t-font-colour-blue">flawless block adv</th>
            <th>info</th>
            <th class="text-left" colspan="2">equip</th>
        </tr>
        {% for move in moves %}
        {% if move.classification == "Basic Attack"%}
        <tr class="text-center">
            <td class="font-weight-bold">{{ move.move_name }}</td>
            <td class="font-weight-bold">{{ move.move_input }}</td>
            <td class="font-weight-bold">{{ move.move_type }}</td>
            <td class="t-font-colour-red">{{ move.damage }}</td>
            <td class="t-font-colour-red">{{ move.block_damage }}</td>
            <td class="t-font-colour-red">{{ move.f_block_damage }}</td>
            <td class="t-font-colour-green">{{ move.startup }}</td>
            <td class="t-font-colour-green">{{ move.Active }}</td>
            <td class="t-font-colour-green">{{ move.Recovery }}</td>
            <td class="t-font-colour-blue">{{ move.cancel_adv }}</td>
            <td class="t-font-colour-blue">{{ move.hit_adv }}</td>
            <td class="t-font-colour-blue">{{ move.block_adv }}</td>
            <td class="t-font-colour-blue">{{ move.f_block_adv }}</td>
            <td>{{ move.info }}</td>
            <td>{{ move.equip }}</td>
            <td>
                <form method="POST">
                    {% csrf_token %}
                    <button class="table-button"  name="move_id" type="submit" value={{ move.id }}>add note</a>
                </form>
            </td>

        </tr>
        {% endif %}
        {% endfor %}
    </table>
  </div>

  <div class="card">
        <div class="card-header" id="heading-kombo">
            <button class="btn btn-link" data-toggle="collapse" data-target="#kombo-attacks" aria-expanded="false"
                aria-controls="kombo-attacks">
                Kombo Attacks
            </button>
        </div>

        <table class="table table-striped table-hover table-sm collapse" id="kombo-attacks" data-parent="#accordian"
            aria-labelledby="heading-kombo">
            <tr class="text-center">
                <th class="font-weight-bold">Move</th>
                <th class="font-weight-bold">Input</th>
                <th class="font-weight-bold">Type</th>
                <th class="t-font-colour-red">damage</th>
                <th class="t-font-colour-red">block dmg</th>
                <th class="t-font-colour-red">flawless block dmg</th>
                <th class="t-font-colour-green">Startup</th>
                <th class="t-font-colour-green">Active</th>
                <th class="t-font-colour-green">Recovery</th>
                <th class="t-font-colour-blue">cancel adv</th>
                <th class="t-font-colour-blue">hit adv</th>
                <th class="t-font-colour-blue">block adv</th>
                <th class="t-font-colour-blue">flawless block adv</th>
                <th>info</th>
                <th class="text-left" colspan="2">equip</th>
            </tr>
            {% for move in moves %}
            {% if move.classification == "Kombo Attack" %}
            <tr class="text-center">
                <td class="font-weight-bold">{{ move.move_name }}</td>
                <td class="font-weight-bold">{{ move.move_input }}</td>
                <td class="font-weight-bold">{{ move.move_type }}</td>
                <td class="t-font-colour-red">{{ move.damage }}</td>
                <td class="t-font-colour-red">{{ move.block_damage }}</td>
                <td class="t-font-colour-red">{{ move.f_block_damage }}</td>
                <td class="t-font-colour-green">{{ move.startup }}</td>
                <td class="t-font-colour-green">{{ move.Active }}</td>
                <td class="t-font-colour-green">{{ move.Recovery }}</td>
                <td class="t-font-colour-blue">{{ move.cancel_adv }}</td>
                <td class="t-font-colour-blue">{{ move.hit_adv }}</td>
                <td class="t-font-colour-blue">{{ move.block_adv }}</td>
                <td class="t-font-colour-blue">{{ move.f_block_adv }}</td>
                <td>{{ move.info }}</td>
                <td>{{ move.equip }}</td>
                <td>
                    <form method="POST">
                        {% csrf_token %}
                        <button class="table-button" name="move_id" type="submit" value={{ move.id }}>add note</a>
                    </form>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
  </div>

  <div class="card">
    <div class="card-header" id="heading-special">
        <button class="btn btn-link" data-toggle="collapse" data-target="#special-attacks" aria-expanded="false" aria-controls="special-attacks">
          Special Attacks
        </button>
    </div>

    <table class ="table table-striped table-hover table-sm collapse" id="special-attacks" data-parent="#accordian" aria-labelledby="heading-special">
        <tr class="text-center">
            <th class="font-weight-bold">Move</th>
            <th class="font-weight-bold">Input</th>
            <th class="font-weight-bold">Type</th>
            <th class="t-font-colour-red">damage</th>
            <th class="t-font-colour-red">block dmg</th>
            <th class="t-font-colour-red">flawless block dmg</th>
            <th class="t-font-colour-green">Startup</th>
            <th class="t-font-colour-green">Active</th>
            <th class="t-font-colour-green">Recovery</th>
            <th class="t-font-colour-blue">cancel adv</th>
            <th class="t-font-colour-blue">hit adv</th>
            <th class="t-font-colour-blue">block adv</th>
            <th class="t-font-colour-blue">flawless block adv</th>
            <th>info</th>
            <th class="text-left" colspan="2">equip</th>
        </tr>
        {% for move in moves %}
            {% if move.classification == "Special Move" %}
            <tr class="text-center">
                <td class="font-weight-bold">{{ move.move_name }}</td>
                <td class="font-weight-bold">{{ move.move_input }}</td>
                <td class="font-weight-bold">{{ move.move_type }}</td>
                <td class="t-font-colour-red">{{ move.damage }}</td>
                <td class="t-font-colour-red">{{ move.block_damage }}</td>
                <td class="t-font-colour-red">{{ move.f_block_damage }}</td>
                <td class="t-font-colour-green">{{ move.startup }}</td>
                <td class="t-font-colour-green">{{ move.Active }}</td>
                <td class="t-font-colour-green">{{ move.Recovery }}</td>
                <td class="t-font-colour-blue">{{ move.cancel_adv }}</td>
                <td class="t-font-colour-blue">{{ move.hit_adv }}</td>
                <td class="t-font-colour-blue">{{ move.block_adv }}</td>
                <td class="t-font-colour-blue">{{ move.f_block_adv }}</td>
                <td>{{ move.info }}</td>
                <td>{{ move.equip }}</td>
                <td>
                    <form method="POST">
                        {% csrf_token %}
                        <button class="table-button" name="move_id" type="submit" value={{ move.id }}>add note</a>
                    </form>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
  </div>

  <div class="card">
    <div class="card-header" id="heading-throws">
        <button class="btn btn-link" data-toggle="collapse" data-target="#throws" aria-expanded="false"
            aria-controls="throws">
            Throws
        </button>
    </div>

    <table class="table table-striped table-hover table-sm collapse" id="throws" data-parent="#accordian"
        aria-labelledby="heading-throws">
        <tr class="text-center">
            <th class="font-weight-bold">Move</th>
            <th class="font-weight-bold">Input</th>
            <th class="font-weight-bold">Type</th>
            <th class="t-font-colour-red">damage</th>
            <th class="t-font-colour-red">block dmg</th>
            <th class="t-font-colour-red">flawless block dmg</th>
            <th class="t-font-colour-green">Startup</th>
            <th class="t-font-colour-green">Active</th>
            <th class="t-font-colour-green">Recovery</th>
            <th class="t-font-colour-blue">cancel adv</th>
            <th class="t-font-colour-blue">hit adv</th>
            <th class="t-font-colour-blue">block adv</th>
            <th class="t-font-colour-blue">flawless block adv</th>
            <th>info</th>
            <th class="text-left" colspan="2">equip</th>
        </tr>
        {% for move in moves %}
        {% if move.classification == "Throw" %}
        <tr class="text-center">
            <td class="font-weight-bold">{{ move.move_name }}</td>
            <td class="font-weight-bold">{{ move.move_input }}</td>
            <td class="font-weight-bold">{{ move.move_type }}</td>
            <td class="t-font-colour-red">{{ move.damage }}</td>
            <td class="t-font-colour-red">{{ move.block_damage }}</td>
            <td class="t-font-colour-red">{{ move.f_block_damage }}</td>
            <td class="t-font-colour-green">{{ move.startup }}</td>
            <td class="t-font-colour-green">{{ move.Active }}</td>
            <td class="t-font-colour-green">{{ move.Recovery }}</td>
            <td class="t-font-colour-blue">{{ move.cancel_adv }}</td>
            <td class="t-font-colour-blue">{{ move.hit_adv }}</td>
            <td class="t-font-colour-blue">{{ move.block_adv }}</td>
            <td class="t-font-colour-blue">{{ move.f_block_adv }}</td>
            <td>{{ move.info }}</td>
            <td>{{ move.equip }}</td>
            <td>
                <form method="POST">
                    {% csrf_token %}
                    <button class="table-button" name="move_id" type="submit" value={{ move.id }}>add note</a>
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
  </div>

  <div class="card">
      <div class="card-header" id="heading-jump-attacks">
          <button class="btn btn-link" data-toggle="collapse" data-target="#jump-attacks" aria-expanded="false"
              aria-controls="jump-attacks">
              Jumping Attacks
          </button>
      </div>

      <table class="table table-striped table-hover table-sm collapse" id="jump-attacks" data-parent="#accordian"
          aria-labelledby="heading-jump-attacks">
          <tr class="text-center">
              <th class="font-weight-bold">Move</th>
              <th class="font-weight-bold">Input</th>
              <th class="font-weight-bold">Type</th>
              <th class="t-font-colour-red">damage</th>
              <th class="t-font-colour-red">block dmg</th>
              <th class="t-font-colour-red">flawless block dmg</th>
              <th class="t-font-colour-green">Startup</th>
              <th class="t-font-colour-green">Active</th>
              <th class="t-font-colour-green">Recovery</th>
              <th class="t-font-colour-blue">cancel adv</th>
              <th class="t-font-colour-blue">hit adv</th>
              <th class="t-font-colour-blue">block adv</th>
              <th class="t-font-colour-blue">flawless block adv</th>
              <th>info</th>
              <th class="text-left" colspan="2">equip</th>
          </tr>
          {% for move in moves %}
          {% if move.classification == "Jumping Attack" %}
          <tr class="text-center">
              <td class="font-weight-bold">{{ move.move_name }}</td>
              <td class="font-weight-bold">{{ move.move_input }}</td>
              <td class="font-weight-bold">{{ move.move_type }}</td>
              <td class="t-font-colour-red">{{ move.damage }}</td>
              <td class="t-font-colour-red">{{ move.block_damage }}</td>
              <td class="t-font-colour-red">{{ move.f_block_damage }}</td>
              <td class="t-font-colour-green">{{ move.startup }}</td>
              <td class="t-font-colour-green">{{ move.Active }}</td>
              <td class="t-font-colour-green">{{ move.Recovery }}</td>
              <td class="t-font-colour-blue">{{ move.cancel_adv }}</td>
              <td class="t-font-colour-blue">{{ move.hit_adv }}</td>
              <td class="t-font-colour-blue">{{ move.block_adv }}</td>
              <td class="t-font-colour-blue">{{ move.f_block_adv }}</td>
              <td>{{ move.info }}</td>
              <td>{{ move.equip }}</td>
              <td>
                  <form method="POST">
                      {% csrf_token %}
                      <button class="table-button" name="move_id" type="submit" value={{ move.id }}>add note</a>
                  </form>
              </td>
              {% endif %}
          </tr>
          {% endfor %}
      </table>
  </div>

  <div class="card">
      <div class="card-header" id="heading-f-block-attack">
          <button class="btn btn-link" data-toggle="collapse" data-target="#f-block-attack" aria-expanded="false"
              aria-controls="f-block-attack">
              Flawless Block Attacks
          </button>
      </div>

      <table class="table table-striped table-hover table-sm collapse" id="f-block-attack" data-parent="#accordian"
          aria-labelledby="heading-f-block-attack">
          <tr class="text-center">
              <th class="font-weight-bold">Move</th>
              <th class="font-weight-bold">Input</th>
              <th class="font-weight-bold">Type</th>
              <th class="t-font-colour-red">damage</th>
              <th class="t-font-colour-red">block dmg</th>
              <th class="t-font-colour-red">flawless block dmg</th>
              <th class="t-font-colour-green">Startup</th>
              <th class="t-font-colour-green">Active</th>
              <th class="t-font-colour-green">Recovery</th>
              <th class="t-font-colour-blue">cancel adv</th>
              <th class="t-font-colour-blue">hit adv</th>
              <th class="t-font-colour-blue">block adv</th>
              <th class="t-font-colour-blue">flawless block adv</th>
              <th>info</th>
              <th class="text-left" colspan="2">equip</th>
          </tr>
          {% for move in moves %}
          {% if move.classification == "Flawless Block Attack" %}
          <tr class="text-center">
              <td class="font-weight-bold">{{ move.move_name }}</td>
              <td class="font-weight-bold">{{ move.move_input }}</td>
              <td class="font-weight-bold">{{ move.move_type }}</td>
              <td class="t-font-colour-red">{{ move.damage }}</td>
              <td class="t-font-colour-red">{{ move.block_damage }}</td>
              <td class="t-font-colour-red">{{ move.f_block_damage }}</td>
              <td class="t-font-colour-green">{{ move.startup }}</td>
              <td class="t-font-colour-green">{{ move.Active }}</td>
              <td class="t-font-colour-green">{{ move.Recovery }}</td>
              <td class="t-font-colour-blue">{{ move.cancel_adv }}</td>
              <td class="t-font-colour-blue">{{ move.hit_adv }}</td>
              <td class="t-font-colour-blue">{{ move.block_adv }}</td>
              <td class="t-font-colour-blue">{{ move.f_block_adv }}</td>
              <td>{{ move.info }}</td>
              <td>{{ move.equip }}</td>
              <td>
                  <form method="POST">
                      {% csrf_token %}
                      <button class="table-button" name="move_id" type="submit" value={{ move.id }}>add note</a>
                  </form>
              </td>
              {% endif %}
          </tr>
          {% endfor %}
      </table>
  </div>

  <div class="card">
    <div class="card-header" id="heading-hop-attack">
      <button class="btn btn-link" data-toggle="collapse" data-target="#hop-attack" aria-expanded="false"
        aria-controls="hop-attack">
        Hop Attacks
      </button>
    </div>

    <table class="table table-striped table-hover table-sm collapse" id="hop-attack" data-parent="#accordian"
      aria-labelledby="hop-attack">
      <tr class="text-center">
        <th class="font-weight-bold">Move</th>
        <th class="font-weight-bold">Input</th>
        <th class="font-weight-bold">Type</th>
        <th class="t-font-colour-red">damage</th>
        <th class="t-font-colour-red">block dmg</th>
        <th class="t-font-colour-red">flawless block dmg</th>
        <th class="t-font-colour-green">Startup</th>
        <th class="t-font-colour-green">Active</th>
        <th class="t-font-colour-green">Recovery</th>
        <th class="t-font-colour-blue">cancel adv</th>
        <th class="t-font-colour-blue">hit adv</th>
        <th class="t-font-colour-blue">block adv</th>
        <th class="t-font-colour-blue">flawless block adv</th>
        <th>info</th>
        <th class="text-left" colspan="2">equip</th>
      </tr>
      {% for move in moves %}
      {% if move.classification == "Hop Attack" %}
      <tr class="text-center">
        <td class="font-weight-bold">{{ move.move_name }}</td>
        <td class="font-weight-bold">{{ move.move_input }}</td>
        <td class="font-weight-bold">{{ move.move_type }}</td>
        <td class="t-font-colour-red">{{ move.damage }}</td>
        <td class="t-font-colour-red">{{ move.block_damage }}</td>
        <td class="t-font-colour-red">{{ move.f_block_damage }}</td>
        <td class="t-font-colour-green">{{ move.startup }}</td>
        <td class="t-font-colour-green">{{ move.Active }}</td>
        <td class="t-font-colour-green">{{ move.Recovery }}</td>
        <td class="t-font-colour-blue">{{ move.cancel_adv }}</td>
        <td class="t-font-colour-blue">{{ move.hit_adv }}</td>
        <td class="t-font-colour-blue">{{ move.block_adv }}</td>
        <td class="t-font-colour-blue">{{ move.f_block_adv }}</td>
        <td>{{ move.info }}</td>
        <td>{{ move.equip }}</td>
        <td>
          <form method="POST">
            {% csrf_token %}
            <button class="table-button" name="move_id" type="submit" value={{ move.id }}>add note</a>
          </form>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </table>
  </div>

  <div class="card">
    <div class="card-header" id="heading-getup-attack">
      <button class="btn btn-link" data-toggle="collapse" data-target="#getup-attack" aria-expanded="false"
        aria-controls="getup-attack">
        Getup Attacks
      </button>
    </div>

    <table class="table table-striped table-hover table-sm collapse" id="getup-attack" data-parent="#accordian"
      aria-labelledby="getup-attack">
      <tr class="text-center">
        <th class="font-weight-bold">Move</th>
        <th class="font-weight-bold">Input</th>
        <th class="font-weight-bold">Type</th>
        <th class="t-font-colour-red">damage</th>
        <th class="t-font-colour-red">block dmg</th>
        <th class="t-font-colour-red">flawless block dmg</th>
        <th class="t-font-colour-green">Startup</th>
        <th class="t-font-colour-green">Active</th>
        <th class="t-font-colour-green">Recovery</th>
        <th class="t-font-colour-blue">cancel adv</th>
        <th class="t-font-colour-blue">hit adv</th>
        <th class="t-font-colour-blue">block adv</th>
        <th class="t-font-colour-blue">flawless block adv</th>
        <th>info</th>
        <th class="text-left" colspan="2">equip</th>
      </tr>
      {% for move in moves %}
      {% if move.classification == "Getup Attack" %}
      <tr class="text-center">
        <td class="font-weight-bold">{{ move.move_name }}</td>
        <td class="font-weight-bold">{{ move.move_input }}</td>
        <td class="font-weight-bold">{{ move.move_type }}</td>
        <td class="t-font-colour-red">{{ move.damage }}</td>
        <td class="t-font-colour-red">{{ move.block_damage }}</td>
        <td class="t-font-colour-red">{{ move.f_block_damage }}</td>
        <td class="t-font-colour-green">{{ move.startup }}</td>
        <td class="t-font-colour-green">{{ move.Active }}</td>
        <td class="t-font-colour-green">{{ move.Recovery }}</td>
        <td class="t-font-colour-blue">{{ move.cancel_adv }}</td>
        <td class="t-font-colour-blue">{{ move.hit_adv }}</td>
        <td class="t-font-colour-blue">{{ move.block_adv }}</td>
        <td class="t-font-colour-blue">{{ move.f_block_adv }}</td>
        <td>{{ move.info }}</td>
        <td>{{ move.equip }}</td>
        <td>
          <form method="POST">
            {% csrf_token %}
            <button class="table-button" name="move_id" type="submit" value={{ move.id }}>add note</a>
          </form>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </table>
  </div>

  <div class="card">
    <div class="card-header" id="heading-roll-escape">
      <button class="btn btn-link" data-toggle="collapse" data-target="#roll-escape" aria-expanded="false"
        aria-controls="roll-escape">
        Roll Escapes
      </button>
    </div>

    <table class="table table-striped table-hover table-sm collapse" id="roll-escape" data-parent="#accordian"
      aria-labelledby="roll-escape">
      <tr class="text-center">
        <th class="font-weight-bold">Move</th>
        <th class="font-weight-bold">Input</th>
        <th class="font-weight-bold">Type</th>
        <th class="t-font-colour-red">damage</th>
        <th class="t-font-colour-red">block dmg</th>
        <th class="t-font-colour-red">flawless block dmg</th>
        <th class="t-font-colour-green">Startup</th>
        <th class="t-font-colour-green">Active</th>
        <th class="t-font-colour-green">Recovery</th>
        <th class="t-font-colour-blue">cancel adv</th>
        <th class="t-font-colour-blue">hit adv</th>
        <th class="t-font-colour-blue">block adv</th>
        <th class="t-font-colour-blue">flawless block adv</th>
        <th>info</th>
        <th class="text-left" colspan="2">equip</th>
      </tr>
      {% for move in moves %}
      {% if move.classification == "Roll Escape" %}
      <tr class="text-center">
        <td class="font-weight-bold">{{ move.move_name }}</td>
        <td class="font-weight-bold">{{ move.move_input }}</td>
        <td class="font-weight-bold">{{ move.move_type }}</td>
        <td class="t-font-colour-red">{{ move.damage }}</td>
        <td class="t-font-colour-red">{{ move.block_damage }}</td>
        <td class="t-font-colour-red">{{ move.f_block_damage }}</td>
        <td class="t-font-colour-green">{{ move.startup }}</td>
        <td class="t-font-colour-green">{{ move.Active }}</td>
        <td class="t-font-colour-green">{{ move.Recovery }}</td>
        <td class="t-font-colour-blue">{{ move.cancel_adv }}</td>
        <td class="t-font-colour-blue">{{ move.hit_adv }}</td>
        <td class="t-font-colour-blue">{{ move.block_adv }}</td>
        <td class="t-font-colour-blue">{{ move.f_block_adv }}</td>
        <td>{{ move.info }}</td>
        <td>{{ move.equip }}</td>
        <td>
          <form method="POST">
            {% csrf_token %}
            <button class="table-button" name="move_id" type="submit" value={{ move.id }}>add note</a>
          </form>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </table>
  </div>

  <div class="card">
    <div class="card-header" id="heading-air-escape">
      <button class="btn btn-link" data-toggle="collapse" data-target="#air-escape" aria-expanded="false"
        aria-controls="air-escape">
        Air Escape
      </button>
    </div>

    <table class="table table-striped table-hover table-sm collapse" id="air-escape" data-parent="#accordian"
      aria-labelledby="air-escape">
      <tr class="text-center">
        <th class="font-weight-bold">Move</th>
        <th class="font-weight-bold">Input</th>
        <th class="font-weight-bold">Type</th>
        <th class="t-font-colour-red">damage</th>
        <th class="t-font-colour-red">block dmg</th>
        <th class="t-font-colour-red">flawless block dmg</th>
        <th class="t-font-colour-green">Startup</th>
        <th class="t-font-colour-green">Active</th>
        <th class="t-font-colour-green">Recovery</th>
        <th class="t-font-colour-blue">cancel adv</th>
        <th class="t-font-colour-blue">hit adv</th>
        <th class="t-font-colour-blue">block adv</th>
        <th class="t-font-colour-blue">flawless block adv</th>
        <th>info</th>
        <th class="text-left" colspan="2">equip</th>
      </tr>
      {% for move in moves %}
      {% if move.classification == "Air Escape" %}
      <tr class="text-center">
        <td class="font-weight-bold">{{ move.move_name }}</td>
        <td class="font-weight-bold">{{ move.move_input }}</td>
        <td class="font-weight-bold">{{ move.move_type }}</td>
        <td class="t-font-colour-red">{{ move.damage }}</td>
        <td class="t-font-colour-red">{{ move.block_damage }}</td>
        <td class="t-font-colour-red">{{ move.f_block_damage }}</td>
        <td class="t-font-colour-green">{{ move.startup }}</td>
        <td class="t-font-colour-green">{{ move.Active }}</td>
        <td class="t-font-colour-green">{{ move.Recovery }}</td>
        <td class="t-font-colour-blue">{{ move.cancel_adv }}</td>
        <td class="t-font-colour-blue">{{ move.hit_adv }}</td>
        <td class="t-font-colour-blue">{{ move.block_adv }}</td>
        <td class="t-font-colour-blue">{{ move.f_block_adv }}</td>
        <td>{{ move.info }}</td>
        <td>{{ move.equip }}</td>
        <td>
          <form method="POST">
            {% csrf_token %}
            <button class="table-button" name="move_id" type="submit" value={{ move.id }}>add note</a>
          </form>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </table>
  </div>

  <div class="card">
    <div class="card-header" id="heading-fatal-blow">
      <button class="btn btn-link" data-toggle="collapse" data-target="#fatal-blow" aria-expanded="false"
        aria-controls="fatal-blow">
        Fatal Blow
      </button>
    </div>

    <table class="table table-striped table-hover table-sm collapse" id="fatal-blow" data-parent="#accordian"
      aria-labelledby="fatal-blow">
      <tr class="text-center">
        <th class="font-weight-bold">Move</th>
        <th class="font-weight-bold">Input</th>
        <th class="font-weight-bold">Type</th>
        <th class="t-font-colour-red">damage</th>
        <th class="t-font-colour-red">block dmg</th>
        <th class="t-font-colour-red">flawless block dmg</th>
        <th class="t-font-colour-green">Startup</th>
        <th class="t-font-colour-green">Active</th>
        <th class="t-font-colour-green">Recovery</th>
        <th class="t-font-colour-blue">cancel adv</th>
        <th class="t-font-colour-blue">hit adv</th>
        <th class="t-font-colour-blue">block adv</th>
        <th class="t-font-colour-blue">flawless block adv</th>
        <th>info</th>
        <th class="text-left" colspan="2">equip</th>
      </tr>
      {% for move in moves %}
      {% if move.classification == "Fatal Blow" %}
      <tr class="text-center">
        <td class="font-weight-bold">{{ move.move_name }}</td>
        <td class="font-weight-bold">{{ move.move_input }}</td>
        <td class="font-weight-bold">{{ move.move_type }}</td>
        <td class="t-font-colour-red">{{ move.damage }}</td>
        <td class="t-font-colour-red">{{ move.block_damage }}</td>
        <td class="t-font-colour-red">{{ move.f_block_damage }}</td>
        <td class="t-font-colour-green">{{ move.startup }}</td>
        <td class="t-font-colour-green">{{ move.Active }}</td>
        <td class="t-font-colour-green">{{ move.Recovery }}</td>
        <td class="t-font-colour-blue">{{ move.cancel_adv }}</td>
        <td class="t-font-colour-blue">{{ move.hit_adv }}</td>
        <td class="t-font-colour-blue">{{ move.block_adv }}</td>
        <td class="t-font-colour-blue">{{ move.f_block_adv }}</td>
        <td>{{ move.info }}</td>
        <td>{{ move.equip }}</td>
        <td>
          <form method="POST">
            {% csrf_token %}
            <button class="table-button" name="move_id" type="submit" value={{ move.id }}>add note</a>
          </form>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </table>
  </div>

  <div class="card">
    <div class="card-header" id="heading-fatality">
      <button class="btn btn-link" data-toggle="collapse" data-target="#fatality" aria-expanded="false"
        aria-controls="fatality">
        Fatalities
      </button>
    </div>

    <table class="table table-striped table-hover table-sm collapse" id="fatality" data-parent="#accordian"
      aria-labelledby="fatality">
      <tr class="text-center">
        <th class="font-weight-bold">Move</th>
        <th class="font-weight-bold">Input</th>
        <th class="font-weight-bold">Type</th>
        <th class="t-font-colour-red">damage</th>
        <th class="t-font-colour-red">block dmg</th>
        <th class="t-font-colour-red">flawless block dmg</th>
        <th class="t-font-colour-green">Startup</th>
        <th class="t-font-colour-green">Active</th>
        <th class="t-font-colour-green">Recovery</th>
        <th class="t-font-colour-blue">cancel adv</th>
        <th class="t-font-colour-blue">hit adv</th>
        <th class="t-font-colour-blue">block adv</th>
        <th class="t-font-colour-blue">flawless block adv</th>
        <th>info</th>
        <th class="text-left" colspan="2">equip</th>
      </tr>
      {% for move in moves %}
      {% if move.classification == "Fatality" %}
      <tr class="text-center">
        <td class="font-weight-bold">{{ move.move_name }}</td>
        <td class="font-weight-bold">{{ move.move_input }}</td>
        <td class="font-weight-bold">{{ move.move_type }}</td>
        <td class="t-font-colour-red">{{ move.damage }}</td>
        <td class="t-font-colour-red">{{ move.block_damage }}</td>
        <td class="t-font-colour-red">{{ move.f_block_damage }}</td>
        <td class="t-font-colour-green">{{ move.startup }}</td>
        <td class="t-font-colour-green">{{ move.Active }}</td>
        <td class="t-font-colour-green">{{ move.Recovery }}</td>
        <td class="t-font-colour-blue">{{ move.cancel_adv }}</td>
        <td class="t-font-colour-blue">{{ move.hit_adv }}</td>
        <td class="t-font-colour-blue">{{ move.block_adv }}</td>
        <td class="t-font-colour-blue">{{ move.f_block_adv }}</td>
        <td>{{ move.info }}</td>
        <td>{{ move.equip }}</td>
        <td>
          <form method="POST">
            {% csrf_token %}
            <button class="table-button" name="move_id" type="submit" value={{ move.id }}>add note</a>
          </form>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </table>
  </div>

{% endblock %}

