{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div id="accordion">

  <div class="card">
    <div class="card-header" id="heading-basic">
        <button class="btn btn-link" data-toggle="collapse" data-target="#basic-attacks" aria-expanded="false"
            aria-controls="basic-attacks">
            Basic Attacks
        </button>
    </div>

    <table class="table table-striped table-hover table-sm collapse" id="basic-attacks" data-parent="#accordian"
        aria-labelledby="heading-basic">
        <tr class="text-center">
            <th>Move</th>
            <th>Input</th>
            <th>Type</th>
            <th>damage</th>
            <th>block dmg</th>
            <th>flawless block dmg</th>
            <th>Startup</th>
            <th>Active</th>
            <th>Recovery</th>
            <th>cancel adv</th>
            <th>hit adv</th>
            <th>block adv</th>
            <th>flawless block adv</th>
            <th>info</th>
            <th>equip</th>
        </tr>
        {% for move in moves %}
        {% if move.classification == "Basic Attack"%}
        <tr class="text-center">
            <td>{{ move.move_name }}</td>
            <td>{{ move.move_input }}</td>
            <td>{{ move.move_type }}</td>
            <td>{{ move.damage }}</td>
            <td>{{ move.block_damage }}</td>
            <td>{{ move.f_block_damage }}</td>
            <td>{{ move.startup }}</td>
            <td>{{ move.Active }}</td>
            <td>{{ move.Recovery }}</td>
            <td>{{ move.cancel_adv }}</td>
            <td>{{ move.hit_adv }}</td>
            <td>{{ move.block_adv }}</td>
            <td>{{ move.f_block_adv }}</td>
            <td>{{ move.info }}</td>
            <td>{{ move.equip }}</td>
            <td>
                <form method="POST">
                    {% csrf_token %}
                    <button name="move_id" type="submit" value={{ move.id }}> add note </a>
                </form>
            </td>

        </tr>
        {% endif %}
        {% endfor %}
    </table>
  </div>

  <div class="card">
        <div class="card-header" id="heading-kombo">
            <button class="btn btn-link" data-toggle="collapse" data-target="#kombo-attacks" aria-expanded="false"
                aria-controls="kombo-attacks">
                Kombo Attacks
            </button>
        </div>

        <table class="table table-striped table-hover table-sm collapse" id="kombo-attacks" data-parent="#accordian"
            aria-labelledby="heading-kombo">
            <tr>
                <th>Move</th>
                <th>Input</th>
                <th>Type</th>
                <th>damage</th>
                <th>block dmg</th>
                <th>flawless block dmg</th>
                <th>Startup</th>
                <th>Active</th>
                <th>Recovery</th>
                <th>cancel adv</th>
                <th>hit adv</th>
                <th>block adv</th>
                <th>flawless block adv</th>
                <th>info</th>
                <th>equip</th>
            </tr>
            {% for move in moves %}
            {% if move.classification == "Kombo Attack" %}
            <tr>
                <td>{{ move.move_name }}</td>
                <td>{{ move.move_input }}</td>
                <td>{{ move.move_type }}</td>
                <td>{{ move.damage }}</td>
                <td>{{ move.block_damage }}</td>
                <td>{{ move.f_block_damage }}</td>
                <td>{{ move.startup }}</td>
                <td>{{ move.Active }}</td>
                <td>{{ move.Recovery }}</td>
                <td>{{ move.cancel_adv }}</td>
                <td>{{ move.hit_adv }}</td>
                <td>{{ move.block_adv }}</td>
                <td>{{ move.f_block_adv }}</td>
                <td>{{ move.info }}</td>
                <td>{{ move.equip }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
  </div>

  <div class="card">
    <div class="card-header" id="heading-special">
        <button class="btn btn-link" data-toggle="collapse" data-target="#special-attacks" aria-expanded="false" aria-controls="special-attacks">
          Special Attacks
        </button>
    </div>

    <table class ="table table-striped table-hover table-sm collapse" id="special-attacks" data-parent="#accordian" aria-labelledby="heading-special">
        <tr>
            <th>Move</th>
            <th>Input</th>
            <th>Type</th>
            <th>damage</th>
            <th>block dmg</th>
            <th>flawless block dmg</th>
            <th>Startup</th>
            <th>Active</th>
            <th>Recovery</th>
            <th>cancel adv</th>
            <th>hit adv</th>
            <th>block adv</th>
            <th>flawless block adv</th>
            <th>info</th>
            <th>equip</th>
        </tr>
        {% for move in moves %}
            {% if move.classification == "Special Move" %}
                <tr>
                    <td>{{ move.move_name }}</td>
                    <td>{{ move.move_input }}</td>
                    <td>{{ move.move_type }}</td>
                    <td>{{ move.damage }}</td>
                    <td>{{ move.block_damage }}</td>
                    <td>{{ move.f_block_damage }}</td>
                    <td>{{ move.startup }}</td>
                    <td>{{ move.Active }}</td>
                    <td>{{ move.Recovery }}</td>
                    <td>{{ move.cancel_adv }}</td>
                    <td>{{ move.hit_adv }}</td>
                    <td>{{ move.block_adv }}</td>
                    <td>{{ move.f_block_adv }}</td>
                    <td>{{ move.info }}</td>
                    <td>{{ move.equip }}</td>
                {% endif %}
                </tr>
        {% endfor %}
    </table>
  </div>

  <div class="card">
    <div class="card-header" id="heading-throws">
        <button class="btn btn-link" data-toggle="collapse" data-target="#throws" aria-expanded="false"
            aria-controls="throws">
            Throws
        </button>
    </div>

    <table class="table table-striped table-hover table-sm collapse" id="throws" data-parent="#accordian"
        aria-labelledby="heading-throws">
        <tr>
            <th>Move</th>
            <th>Input</th>
            <th>Type</th>
            <th>damage</th>
            <th>block dmg</th>
            <th>flawless block dmg</th>
            <th>Startup</th>
            <th>Active</th>
            <th>Recovery</th>
            <th>cancel adv</th>
            <th>hit adv</th>
            <th>block adv</th>
            <th>flawless block adv</th>
            <th>info</th>
            <th>equip</th>
        </tr>
        {% for move in moves %}
        {% if move.classification == "Throw" %}
        <tr>
            <td>{{ move.move_name }}</td>
            <td>{{ move.move_input }}</td>
            <td>{{ move.move_type }}</td>
            <td>{{ move.damage }}</td>
            <td>{{ move.block_damage }}</td>
            <td>{{ move.f_block_damage }}</td>
            <td>{{ move.startup }}</td>
            <td>{{ move.Active }}</td>
            <td>{{ move.Recovery }}</td>
            <td>{{ move.cancel_adv }}</td>
            <td>{{ move.hit_adv }}</td>
            <td>{{ move.block_adv }}</td>
            <td>{{ move.f_block_adv }}</td>
            <td>{{ move.info }}</td>
            <td>{{ move.equip }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
  </div>


{% endblock %}

                <!-- <form method="get">
                                    <a href="{%url 'notes' %}" name="move_id" value={{ move.id }}> add note </a>
                                </form> -->
                <!-- <form method="post">
                    {{form.as_p}}
                    <a href="{%url 'add_note' %}" name="move_id" value={{ move.id }}> add note </a> -->
