{% extends "base.html" %}
{% block title %}Create an account{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<h1 class="ml-md-4">Create an account</h1>
<div class="card">
<form method="POST">
    {% csrf_token %}
    <p><label for="id_note">Note:</label></p>
    <p>
        <textarea id="id_note" type="text" name="note" cols="100" rows="10" maxlength="100"></textarea>
    </p>
    <input id="id_move_id" hidden readonly name="move_id" maxlength="100" value="{{move.id}}">
    <p><input type="submit" value="add note"></p>
</form>
</div>
{% endblock %}
